.plife {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: grid;
    font-size: 40px;
    font-family: sans-serif;
}

.plife_inverted {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: grid;
    font-size: 40px;
    font-family: sans-serif;
    transform:rotate(180deg);
}

.p_life_total {
    align-self: center;
    justify-self: center;
    font-size: 80px;
}

.p_life_total_inverted {
    align-self: center;
    justify-self: center;
    font-size: 80px;
    /* transform: rotate(180deg); */
}

.player_name {
    background-color: #f6efef;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    color: #202020;
    position: relative;
    top: 2px;
    left: 2px;
    height: 20px;
    max-width: 100%;
    font-size: 14px;
    font-family: sans-serif;
}

.player_name_inverted {
    background-color: #f6efef;
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #202020;
    position: relative;
    align-self:end;
    top: 2px;
    left: 2px;
    height: 20px;
    max-width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    /* transform:rotate(180deg); */
}

.player_name_blank {
    background-color: #333;
    padding: 2px;
    border-radius: 2px;
    color: #202020;
    position: relative;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    font-size: 14px;
    font-family: sans-serif;
}

.life_button_container {
    width:100%;
    display:grid;
}

.life_down_button {
    background-color: #202020;
    border: 1px solid black;
    grid-row:1;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
}

.life_up_button:active {
    background-color:#783939;
}

.life_up_button {
    background-color: #202020;
    border: 1px solid black;
    grid-row:1;
    border-radius:5px;
}

.life_down_button:active {
    background-color:#783939;
}

